<form method="post" action="{{ path('ask_delete', {'id': ask.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ask.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
