{% extends "base.html.twig" %}

{% block body %}
			<!--Home Banner Start-->
			<div class="wt-haslayout wt-bannerholder">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-5">
							<div class="wt-bannerimages">
								<figure class="wt-bannermanimg" data-tilt>
									<img src="images/bannerimg/img-01.png" alt="img description">
								</figure>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
							<div class="wt-bannercontent">
								<div class="wt-bannerhead">
									<div class="wt-title">
										<h1><span>Face à l’épidémie de</span> Covid-19</h1>
									</div>
									<div class="wt-description">
										<p>le président de la République appelle à la mobilisation générale des solidarités.<br/><br/>« Jamais de telles épreuves ne se surmontent en solitaire. C’est au contraire en solidaires, en disant « nous » plutôt qu’en pensant « je » que nous relèverons cet immense défi. »
										<br/><i>Emmanuel Macron, Président de la République, 12 mars 2020<i/></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Home Banner End-->
			<!--Main Start-->
			<main id="wt-main" class="wt-main wt-haslayout" style="padding-top: 0px;">
            	<!--Join Company Info Start-->
				<section class="wt-haslayout wt-main-section wt-paddingnull wt-companyinfohold">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-12 col-lg-12">
								<div class="wt-companydetails">
									<div class="wt-companycontent">
										<div class="wt-companyinfotitle">
											<h2>Je suis volontaire</h2>
										</div>
										<div class="wt-description">
											<p>Aidez un soignant en première ligne vivant proche de chez vous en gardant son enfant, distribuez des produits alimentaires aux plus démunis, gardez le lien avec une personne isolée...</p>
										</div>
										<div class="wt-btnarea">
											<a href="javascript:void(0);" class="wt-btn">Je veux aider</a>
										</div>
									</div>
									<div class="wt-companycontent">
										<div class="wt-companyinfotitle">
											<h2>J'ai besoin d'aide</h2>
										</div>
										<div class="wt-description">
											<p>Publiez une offre de mission pour que des citoyens viennent vous prêter main forte, dans le respect des règles de sécurité.</p>
										</div>
										<div class="wt-btnarea">
											<a href="javascript:void(0);" class="wt-btn">Proposer une mission</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--Join Company Info End-->
				<!--Categories Start-->
				<section class="wt-haslayout wt-main-section">
					<div class="container">
						<div class="row justify-content-md-center">
							<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
								<div class="wt-sectionhead wt-textcenter">
									<div class="wt-sectiontitle">
										<h2>Les 4 Missions Vitales</h2>
									</div>
								</div>
							</div>
							<div class="wt-categoryexpl">
								<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 float-left">
									<div class="wt-categorycontent">
										<figure><img src="images/categories/img-01.png" alt="image description"></figure>
										<div class="wt-cattitle">
											<h3><a href="javascrip:void(0);">Aide alimentaire et d’urgence</a></h3>
										</div>
										<div class="wt-categoryslidup">
											<p>Je distribue des produits de première nécessité (aliments, hygiène…) et des repas aux plus démunis.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 float-left">
									<div class="wt-categorycontent">
										<figure><img src="images/categories/img-02.png" alt="image description"></figure>
										<div class="wt-cattitle">
											<h3><a href="javascrip:void(0);">Garde exceptionnelle d’enfants</a></h3>
										</div>
										<div class="wt-categoryslidup">
											<p>J’aide à garder des enfants de soignants ou d’une structure de l’Aide Sociale à l’Enfance.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 float-left">
									<div class="wt-categorycontent">
										<figure><img src="images/categories/img-03.png" alt="image description"></figure>
										<div class="wt-cattitle">
											<h3><a href="javascrip:void(0);">Lien avec les personnes fragiles isolées</a></h3>
										</div>
										<div class="wt-categoryslidup">
											<p>Je participe à maintenir le lien avec des personnes fragiles isolées.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 float-left">
									<div class="wt-categorycontent">
										<figure><img src="images/categories/img-04.png" alt="image description"></figure>
										<div class="wt-cattitle">
											<h3><a href="javascrip:void(0);">Solidarité de proximité</a></h3>
										</div>
										<div class="wt-categoryslidup">
											<p>Je fais les courses de produits essentiels pour mes voisins les plus fragiles.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--Categories End-->
				<!--Limitless Experience Start-->
				<section class="wt-haslayout wt-main-section">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left">
								<figure class="wt-mobileimg">
									<img src="images/social-care.png" alt="img description">
								</figure>
							</div>
							<div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left">
								<div class="wt-experienceholder">
									<div class="wt-sectionhead">
										<div class="wt-sectiontitle">
											<h2>Les Règles de Sécurités</h2>
										</div>
										<div class="wt-description">
											<p>Afin de protéger la santé de tous, des règles sanitaires strictes sont à respecter.</p>
										</div>
										<ul class="wt-appicon">
											<li>
												<div class="wt-btnarea">
													<a href="/howitworks.html" class="wt-btn">Consulter</a>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--Limitless Experience End-->
			</main>
			<!--Main End-->
{% endblock %}