{% extends "base.html.twig" %}

{% block meta %}
	<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block body %}
	<div class="container">
		<p style="text-align: justify; font-size: 130%;">Nous prenons votre vie privée très au sérieux !</p>
		<p style="text-align: justify; font-size: 130%;"><br>Merci d’utiliser nos sites Web et nos services ! Comme vous, nous croyons que l’intégrité personnelle est importante et nous prenons votre vie privée au sérieux. Cette charte de confidentialité est pertinente pour toute personne physique partageant ses données personnelles directement ou indirectement	en visitant nos sites Web ou en utilisant nos services, tels que
			<span class="s-text-color-blue">
				<strong>www.entraide.nc</strong>
			</span>
			.</p>
		<p style="text-align: justify; font-size: 130%;">
			Nous adhérons à la législation
			<span class="s-text-color-blue">
				<strong>française</strong>
			</span>
			sur la protection des informations personnelles (1998: 204) qui applique la Directive sur la protection des données européennes 95/46/EC.</p>
		<p style="text-align: justify; font-size: 130%;">
			N’hésitez pas à nous faire part de vos questions ou préoccupations en matière de protection des données, à l’adresse suivante :
			<span class="s-text-color-blue">
				<strong>contact@entraide.nc</strong>
			</span>.</p>
		<p style="text-align: justify; font-size: 130%;">Dans cette charte de confidentialité, nous expliquons quels types de données personnelles sont susceptible d’être traité et dans quelle finalité. Nous expliquons également les choix que vous avez par rapport à notre traitement et la façon dont vous pouvez en apprendre davantage sur notre traitement et sur vos droits.</p>
		<p style="text-align: justify; font-size: 130%;">&nbsp;</p>
		<p style="text-align: justify; font-size: 130%;">PORTÉE DE LA CHARTE DE CONFIDENTIALITÉ<br>Veuillez noter que cette charte de confidentialité concerne le traitement des données personnelles dont
			<span class="s-text-color-blue">
				<strong>www.entraide.nc</strong>
			</span>
			est le Responsable de Traitement, c’est-à-dire dans les cas où
			<span class="s-text-color-blue">
				<strong>www.entraide.nc</strong>
			</span>
			a décidé des finalités et des moyens de traitement.</p>
		<p style="text-align: justify; font-size: 130%;">Pour éviter toute ambiguïté, cette Charte de confidentialité ne concerne aucun traitement de données personnelles que
			<span class="s-text-color-blue">
				<strong>www.entraide.nc</strong>
			</span>
			peut effectuer en tant que Sous-Traitant découlant de votre utilisation de nos services.</p>
		<p style="text-align: justify; font-size: 130%;">Pour obtenir plus d’informations sur la façon dont nos services, peuvent être utilisés pour faciliter vos traitements de données personnelles, et sur les responsabilités et les engagements de
			<span class="s-text-color-blue">
				<strong>www.entraide.nc</strong>
			</span>
			en relation avec ceux-ci, veuillez vous référer aux conditions applicables.</p>
		<p style="text-align: justify; font-size: 130%;">&nbsp;</p>
		<p style="text-align: justify; font-size: 130%;">DONNÉES PERSONNELLES TRAITÉES<br>Les données personnelles désignent les données qui vous identifient en tant que personne physique. Nous pouvons être amené à traiter les types de données personnelles suivants vous concernant :</p>
		<ul>
			<li style="text-align: justify; font-size: 130%;">Vos coordonnées incluant votre nom, l’adresse courriel et le numéro de téléphone</li>
			<li style="text-align: justify; font-size: 130%;">Informations utilisateur, par exemple, si vous vous connectez à notre service ou visitez nos sites internet. Ces informations peuvent comprendre le numéro IP, le type de périphérique et le navigateur, fuseau horaire, situation géographique, ainsi que vos intérêt et préférences des informations sur la façon dont vous interagissez avec nos services, par exemple sur les fonctionnalités utilisées et les boutons cliqués</li>
			<li style="text-align: justify; font-size: 130%;">Autres informations que nous recevons à travers vos contacts<br>&nbsp;</li>
		</ul>
		<p style="text-align: justify; font-size: 130%;">FINALITES DE TRAITEMENT<br>Nous traitons vos données personnelles pour les finalités suivantes :</p>
		<ul>
			<li style="text-align: justify; font-size: 130%;">Fournir nos services conformément aux conditions applicables</li>
			<li style="text-align: justify; font-size: 130%;">Développer et améliorer nos services</li>
		</ul>
		<p style="text-align: justify; font-size: 130%;"><br>PARTAGE AVEC DES TIERS ET TRANSFERT VERS LES PAYS TIERS<br>Nous pouvons partager des données personnelles avec des tiers aux fins expliquées ci-dessus. Pour éviter tout doute, nous ne partagerons pas de données personnelles avec des tiers de manière à ce que ces tiers utilisent des données personnelles à des fins de marketing direct en relation avec vous en tant que particulier, mais uniquement avec vous en tant que représentant de client actuel ou potentiel de
			<span class="s-text-color-blue">
				<strong>www.entraide.nc</strong>
			</span>
			.</p>
		<p style="text-align: justify; font-size: 130%;">Nous pouvons transférer des données personnelles dans un pays en dehors de l’EEE, mais nous devrons alors tout d’abord obtenir votre consentement ou veiller à ce que le transfert soit légal et sécuritaire en prenant d’autres dispositions.</p>
		<p style="text-align: justify; font-size: 130%;">Comme expliqué ci-dessus, n’oubliez pas que cette charte de confidentialité ne concerne aucun traitement de données pour lequel vous pourriez être responsable à la suite de l’utilisation de nos services. Vous, ou la partie que vous représentez, êtes toujours responsables de votre traitement des données personnelles conformément à la loi en vigueur.</p>
		<p style="text-align: justify; font-size: 130%;">&nbsp;</p>
		<p style="text-align: justify; font-size: 130%;">VOS DROITS<br>Il est de notre obligation de traiter des éléments personnels précis, pertinents et nécessaires tout en tenant compte de nos finalités légitimes. Il est de votre droit de nous contrôler.<br>Pour mettre à jour les données personnelles que nous traitons vous concernant, veuillez nous contacter sur
			<span class="s-text-color-blue">
				<strong>contact@entraide.nc</strong>
			</span>. Pour recevoir gratuitement un extrait de données personnelles que nous traitons vous concernant, envoyez-nous une lettre signée à
			<span class="s-text-color-blue">l'adresse email de</span>
			<span class="s-text-color-blue">
				<strong>contact@entraide.nc</strong>
			</span>
			.</p>
	</div>
{% endblock %}
