{% extends "base.html.twig" %}

{% block body %}
<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
    <div class="wt-haslayout wt-main-section">
                    <div class="wt-contentwrappers">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
                                    <div class="wt-howitwork-hold wt-bgwhite wt-haslayout">
                                        <div class="row">
                                            <div class="wt-starthiringhold wt-innerspace wt-haslayout">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-7 float-left">
                                                    <div class="wt-starthiringcontent">
                                                        <div class="wt-sectionhead">
                                                            <div class="wt-sectiontitle">
                                                                <h2>Règles de Sécurité</h2>
                                                                <span>Les 5 règles de sécurité des volontaires</span>
                                                            </div>
                                                        </div>
                                                        <ul class="wt-accordionhold accordion">
                                                            <li>
                                                                <div class="wt-accordiontitle collapsed" id="headingOnea" data-toggle="collapse" data-target="#collapseOnea">
                                                                    <span>Respecter les distances de sécurité</span>
                                                                </div>
                                                                <div class="wt-accordiondetails collapse show" id="collapseOnea" aria-labelledby="headingOne">
                                                                    <div class="wt-description">
                                                                        <p>
                                                                            En toutes circonstances, <strong>je fais en sorte de garder ma distance de sécurité </strong> d’au moins un mètre avec les bénéficiaires et les autres bénévoles.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="wt-accordiontitle collapsed" id="headingtwoa" data-toggle="collapse" data-target="#collapsetwoa">
                                                                    <span>Appliquer les gestes barrières</span>
                                                                </div>
                                                                <div class="wt-accordiondetails collapse" id="collapsetwoa" aria-labelledby="headingtwoa">
                                                                    <div class="wt-description">
                                                                        <p>
                                                                            En toutes circonstances, <strong>j’applique les gestes barrières </strong> pour me protéger et protéger les bénéficiaires et les autres bénévoles.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="wt-accordiontitle collapsed" id="headingthree" data-toggle="collapse" data-target="#collapsethreea">
                                                                    <span>Je suis un ambassadeur des règles de sécurité</span>
                                                                </div>
                                                                <div class="wt-accordiondetails collapse" id="collapsethreea" aria-labelledby="headingthree">
                                                                    <div class="wt-description">
                                                                        <p>
                                                                            <strong>Je suis un ambassadeur des règles de sécurité  </strong> et des gestes barrière que j’explique et promeus auprès des bénéficiaires et des autres bénévoles.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="wt-accordiontitle collapsed" id="headingfour" data-toggle="collapse" data-target="#collapsefoura">
                                                                    <span>Informer au moindre doute</span>
                                                                </div>
                                                                <div class="wt-accordiondetails collapse" id="collapsefoura" aria-labelledby="headingfour">
                                                                    <div class="wt-description">
                                                                        <p>
                                                                            <strong>Au moindre doute d’infection </strong>, sans attendre, j’informe l’association et je reste chez moi.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="wt-accordiontitle collapsed" id="headingfive" data-toggle="collapse" data-target="#collapsefivea">
                                                                    <span>Protéger au maximum ma santé et celle des autres</span>
                                                                </div>
                                                                <div class="wt-accordiondetails collapse" id="collapsefivea" aria-labelledby="headingfive">
                                                                    <div class="wt-description">
                                                                        <p>
                                                                           <strong>Âgé de 70 ans ou plus ou porteur d’une maladie chronique</strong>, je ne m’engage que dans des missions à distance, depuis mon domicile, pour protéger au maximum ma santé et celle des autres.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-4 col-lg-5 float-right">
                                                    <div class="wt-howtoworkimg">
                                                        <figure>
                                                            <img src="images/social-care.png" alt="img description">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</main>
{% endblock body %}