<footer id="wt-footer" class="wt-footer wt-haslayout">
				<div class="wt-footerholder wt-haslayout">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-6 col-lg-6">
								<div class="wt-footerlogohold">
									<strong class="wt-logo"><a href="index.html"><img src="images/flogo.png" alt="company logo here"></a></strong>
									<div class="wt-description">
										<p>Trouvez une mission d'intérêt général auprès d'un organisme public ou associatif et faites vivre les valeurs de la République.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="wt-haslayout wt-joininfo">
					<div class="container">
						<div class="row justify-content-md-center">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 push-lg-1">
								<div class="wt-companyinfo">
									<span>Faire vivre les valeurs de la République.</span>
								</div>
								<div class="wt-fbtnarea">
									<a href="{{ path("app_login") }}" class="wt-btn">S'enregistrer</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="wt-haslayout wt-footerbottom">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<p class="wt-copyrights"><span>CCI</span> © 2020 Tous droits réservés</p>
								<nav class="wt-addnav">
									<ul>
										<li><a href="javascript:void(0);">Mentions légales</a></li>
										<li><a href="javascript:void(0);">RGPD</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</footer>