<footer id="wt-footer" class="wt-footer wt-haslayout">
				<div class="wt-footerholder wt-haslayout">
					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-6 col-lg-6">
								<div class="wt-footerlogohold">
									<strong class="wt-logo"><a href="{{ path("home") }}"><img src="/images/flogo.png" alt="company logo here"></a></strong>
									<div class="wt-description">
										<p>Trouvez une mission d'intérêt général auprès d'un organisme public, associatif ou d'un particulier et luttons contre le coronavirus en Nouvelle-Calédonie.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="wt-haslayout wt-joininfo">
					<div class="container">
						<div class="row justify-content-md-center">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 push-lg-1">
								<div class="wt-companyinfo">
									<span>Besoin d'aide ou d'information ?</span>
								</div>
								<div class="wt-fbtnarea">
									<a href="{{ path("contact") }}" class="wt-btn">Nous contacter</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="wt-haslayout wt-footerbottom">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<p class="wt-copyrights"><span>Dev web</span> © 2020 Tous droits réservés</p>
								<nav class="wt-addnav">
									<ul>
										<li><a href="{{ path("mentionslegales") }}">Mentions légales</a></li>
										<li><a href="{{ path("rgpd") }}">RGPD</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</footer>