<!DOCTYPE html>
<html>
    <head>
        {% include "/ressources/meta.html.twig" %}
        {% include "/ressources/csstop.html.twig" %}
        {% block csstop %}{% endblock %}
    </head>
    <body>
        <div class="preloader-outer">
            <div class="loader"></div>
        </div>

        <div id="wt-wrapper" class="wt-wrapper wt-haslayout">
            <!-- Content Wrapper Start -->
            <div class="wt-contentwrapper">
                {% include "/ressources/header.html.twig" %}
        
                {% block body %}{% endblock %}

                {% include "/ressources/footer.html.twig" %}
        	</div>
		<!--Content Wrapper End-->
	    </div>
        
        {% include "/ressources/jsbottom.html.twig" %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
